<h1>Welcome to Coder Cafe!</h1>
<table>
<tr>
<th>Item</th>
<th>Price</th>
</tr>
<%if @menu%>
  <%@menu.each do |item|%>
    <tr>
      <td><%= item.name %></td>
      <td><%= "$%.2f" % item.price %></td>
    </tr>
  <%end%>
<%end%>
</table>
